/* src/Components/css/Home.css */

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  padding: 10px 20px;
  /* color: white; */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-btn {
  background-color: #0366d6;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 1px 1px blue;
}

.nav-btn:hover {
  background-color: #024c9a;
}

.logo-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}