
.main-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10px;
   /* width: 100vh; */
  height: 100vh;
} 
.login-form{
  width: 60vh;
  height: 35vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(69, 59, 59);
  flex-direction: column;
  padding-left: 12px;
  background-color: rgb(255, 247, 247);
  border-radius: 8px;
 }

.login-inputs{
   border-radius: 8px;
   padding: 10px 10px;
    margin-bottom: 15px;
    width: 300px;
    box-shadow: 0px, 5px 10px black;
}
.login-button{
   border-radius: 10px;
    padding: 10px 10px;
    border: none;
    width: 300px;
    background-color: rgb(31, 226, 31);
    padding-left: none
}

.login-button:hover{
    cursor: pointer;
    background-color: rgb(11, 158, 11);
}

